@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kirtipur<br />
    Kathmandu, Nepal<br />
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:contact@maheshyadav.com.np">contact@maheshyadav.com.np</a><br />
    <strong>Marketing:</strong> <a href="mailto:contact@maheshyadav.com.np">contact@maheshyadav.com.np</a>
</address>